* {
	margin: 0;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

#banniere {
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 1px solid black;
	background-color: white;
}

#titre_principal {
	font-size: 40px;
	color: black;
}

section {
	width: 98%;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

section h1, h2 {
	margin: 10px 0;
	text-align: center;
	color: black;
}

section h1 {
	padding: 5px;
	font-size: 40px;
	background-color: white;
}

#titleLog {
	width: 100%;
	border: 1px solid black;
}

#titleLog td {
	text-align: center;
}

#info {
	float: right;
}

section a {
	color: black;
	text-decoration: none;
}

section article {
	width: 100%;
	margin: 10px 0;
	border: 1px solid black;
}

section article p {
	margin: 10px 0;
}

section article form {
	text-align: center;
}

#bouton {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100px;
	height: 30px;
}

section article form table {
	margin: auto;
}

section article form th, td {
	font-size: 15pt;
	padding: 5px;
	border:none;
	text-align: right;
}

section article form td {
	min-width: 50px;
}

section article form input[type=text], input[type=password] {
	height: 20px;
	width: 200px;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid grey;
}

section article form input[type=text]:focus, input[type=password]:focus {
	outline-style: none;
	transition-duration: 1s;
	border: 2px solid black;
	background-color: lightgrey;
}

section article form select {
	width: 245px;
	height : 50px;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid grey;
}

section article form select:focus {
	outline-style: none;
	transition-duration: 1s;
	border: 2px solid black;
	background-color: lightgrey;
}

footer {
	width: 98%;
	margin: auto;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 10px;
	color: black;
	border: 1px solid black;
	background-color: white;
}

footer h1 {
	font-size: 16px;
}

footer a {
	color: black;
	text-decoration: none;
}

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}

#custom-button {
	padding: 10px;
	color: white;
	background-color: #efefef;
	cursor: pointer;
}

#custom-button:hover{
	background-color: #00b28f;
}
